* {margin:0;padding:0 box-sizing:border-box;}
h1,h2,h3,h4,h5,h6 {
font-family: 'Lato', sans-serif;
text-align:center;
}
body{
	font-family:'Lato', sans-serif;
	background:url('../images/yoga.jpg');
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}
div header {
	padding-left:2em;
	position:fixed;
	float:left;
	z-index:+1;
}
#splash {
	padding-top: 1em;
	padding-left: 1em;
	height:100vh;
}
nav .wrapper{
    width:75%;
    margin:0 auto;
}
nav {
width:100%;
margin-top:2em;
position:fixed;
top:2em;
text-align:right;
padding:2em;
margin-right:2em;
}